<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climate Data Explorer</title>
    <script src="https://kit.fontawesome.com/fa339ab44f.js" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <h1><a href="/">Climate Data Explorer</a></h1>
            <form>
                <div class="i-inside">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" id="search" name="search" placeholder="Search Data">
                </div>
            </form>
            <ul>
                <li><a href="/add-data">Contribute Data</a></li>
                <li><a href="/feedback">Feedback</a></li>
            </ul>
        </nav>
    </header>