<%- include('partials/header') -%>
<main>
    <section class="intro">
        <h2>Welcome to the Climate Data Explorer.</h2>
        <p>
            Here you will find a collection of climate tracking tools and data that focus on the many topics involved in climate change and adaptation efforts.
        </p>
        <p>
            This platfom identifies and brings together important data from sources that go beyond national statistics. The Climate Data Explorer enables decision makers, climate experts, businesses, and citizens to leverage data to address all aspects of the climate crisis.
        </p>
    </section>
    <section class="topics">
        <h3>Search through the data by topic:</h3>
        <ul class="row1">
            <li class="card">
                <i></i>
                <h4>Mitigation</h4>
                <p>Aliquam optio quia ut quo quidem dolorem reiciendis aut.</p>
            </li>
            <li class="card">
                <i></i>
                <h4>Mitigation</h4>
                <p>Aliquam optio quia ut quo quidem dolorem reiciendis aut.</p>
            </li>
            <li class="card">
                <i></i>
                <h4>Mitigation</h4>
                <p>Aliquam optio quia ut quo quidem dolorem reiciendis aut.</p>
            </li>
        </ul>
        <ul class="row2">
            <li class="card">
                <i></i>
                <h4>Mitigation</h4>
                <p>Aliquam optio quia ut quo quidem dolorem reiciendis aut.</p>
            </li>
            <li class="card">
                <i></i>
                <h4>Mitigation</h4>
                <p>Aliquam optio quia ut quo quidem dolorem reiciendis aut.</p>
            </li>
            <li class="card">
                <i></i>
                <h4>Mitigation</h4>
                <p>Aliquam optio quia ut quo quidem dolorem reiciendis aut.</p>
            </li>
            <li class="card">
                <i></i>
                <h4>Mitigation</h4>
                <p>Aliquam optio quia ut quo quidem dolorem reiciendis aut.</p>
            </li>
            <li class="card">
                <i></i>
                <h4>Mitigation</h4>
                <p>Aliquam optio quia ut quo quidem dolorem reiciendis aut.</p>
            </li>
        </ul>
    </section>
    <section class="nav">
        <a href="/add-data">Contribute Data</a>
        <a href="/feedback">Site Feedback</a>
        <a href="/data">Browse Data Collection</a>
    </section>
</main>

<%- include('partials/footer') -%>